footer{
    position: sticky !important;
    bottom: 0 !important;
}

ul li a {
    color: white;
    text-decoration: none;
    transition: ease 0.1s;
    border-radius: 3;
}

ul li a:hover{
    color : rgb(141, 134, 134)
}
 
h2 a{
    text-decoration: none;
    color: white;
    transition: ease 0.1s;
}

h2 a:hover{
    color: rgb(214, 218, 221);
}

.brands a{
    color: white;
    transition: ease 0.2s;
}

.brands a:hover{
    color: rgb(141, 134, 134);
}
