.cardDriverChooseRide{
    box-shadow: 0 0.2rem 1rem rgba(44, 43, 43, 0.596);
    background-color: #fff;
    padding: 2rem;
}

.btnRideHistory{
    color: white !important;
    background-color: black !important;
    transition: ease 0.2s !important;
}

.btnRideHistory:hover{
        background-color: #4b4b4b !important;
}